{% load i18n %}
{% load modal %}
{% load strutils %}

<div
    class="card shadow-sm mb-3 routine-group-item {{ 'fade-in'|onlyif:fade }}"
    data-group-id="{{ group.id }}"
    x-data="routineGroupItemComponent()">
    <div class="d-flex g-0">
        <div class="col-1">
            <div class="rounded-start h-100 d-flex justify-content-center align-items-center"
                style="background-color: {{ group.color }}" id="colorStrip">
                {% if group.icon %}
                    <i class="bi {{ group.icon }} fs-2"></i>
                {% endif %}
            </div>
        </div>
        <div class="flex-grow-1 flex-shrink-1">
            <div class="card-body d-flex justify-content-between">
                <div>
                    <h5 class="card-title">
                        <a href="{% url 'routines:group-detail' pk=group.id %}">{{ group.name }}</a>
                    </h5>
                    <p class="card-text">{{ group.description }}</p>
                </div>
                <div>
                    {% component 'dropdown' %}
                        <li>
                            <a
                            {% hxmodal 'routines:group-edit-modal' pk=group.id %}
                            class="dropdown-item" href="#">{% trans "Edit" %}</a>
                        </li>
                        <li>
                            <a
                            {% hxmodal 'routines:group-delete' pk=group.id %}
                            class="dropdown-item text-danger" href="#"> {% trans "Delete" %} </a>
                        </li>
                    {% endcomponent %}
                </div>
            </div>
            <div class="card-footer text-body-secondary">
                <p class="card-text">
                    <small class="text-body-secondary"> {{ lastupdated }} </small>
                </p>
            </div>
        </div>
    </div>
</div>
