{% load widget_tweaks %}
{% load strutils %}

<form
    method="POST"
    x-data="{submitting: false, submit() {$nextTick (() => this.submitting = true);}}"
    @submit.prevent="submit"
    {% if boost %}hx-boost="{{ boost|yesno:"true,false" }}"{%endif%}
    {{ form_attrs }}>
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3{{ " row justify-content-start"|onlyif:horizontal }}" x-data="{showErrors:{{ field.errors|yesno:"true,false" }}}">
            <label for="{{field.auto_id}}" class="{{ horizontal|yesno:"col-sm-2 col-form-label,form-label"}}">{{ field.label }}</label>
            <div class="{{ 'col-sm-4'|onlyif:horizontal }}{{ ' d-flex align-items-center'|onlyif:field.field.widget.input_type }}">
                {% if field.field.widget.input_type == "checkbox" %}
                    <div class="form-check ">
                        {% render_field field|add_class:"form-check-input"|add_error_class:"is-invalid"
                            @change="showErrors=false"
                            x-bind::class='showErrors ? `is-invalid` : ``'
                            x-bind::disabled='submitting'
                        %}
                    </div>
                {% else %}
                    {% render_field field|add_class:"form-control"|add_error_class:"is-invalid"
                        @keyup="showErrors=false"
                        x-bind::class='showErrors ? `is-invalid` : ``'
                        x-bind::disabled='submitting'
                    %}
                {% endif %}
            </div>
            {% if field.errors %}
                <div class="invalid-feedback" x-show="showErrors">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% if form.non_field_errors  %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="form-controls">
        {% slot "form_controls" %}{% endslot %}
    </div>
</form>
