{% load static %}
{% load django_htmx %}
{% load webpush_notifications %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoutineTracker {% block title %}{% endblock title %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>">
    {% component_css_dependencies %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/alpine-morph.js"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/toast.js' %}" defer></script>
    <script src="{% static 'js/alpinejs.min.js' %}" defer></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    {% webpush_header %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"{% block headers %}{% endblock headers %}}' data-bs-theme="{{ request.user.profile.dark_mode|yesno:'dark,light'}}">
    {% include "base/messages.html" %}
    {% provide "request" request=request %}
        {# Provide the request object to all components #}
        {% block layout %}{% endblock %}
    {% endprovide %}
    {% django_htmx_script %}
    {% component_js_dependencies %}
    {% include "includes/modal.html" %}
    {% block js %}{% endblock %}
</body>
</html>
