{% extends "layouts/default.html" %}

{% load widget_tweaks %}

{% block content %}
    <h1 class="mt-5">Your profile</h1>
    <div id="profile-container">
        {% component 'profilenav' hx-select="#profile-container" hx-target="#profile-container" hx-swap="outerHTML:#profile-container" / %}
        <div class="px-3">
            {% component "form" form horizontal="true" hx-post='{{ request.path }}' hx-select='#userForm' hx-swap='outerHTML' id='userForm' %}
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="reset" class="btn btn-dark" >Cancel</button>
            {% endcomponent %}
        </div>
    </div>
{% endblock content %}
