{% load i18n %}
{% load modal %}

{% component 'loader' id="routine-detail-loader" / %}

<div>
    <div class="card-body border-bottom d-flex gap-3 justify-content-between align-items-center">
        <div>
            <i>Placeholder for routine actions</i>
        </div>
        {% component 'dropdown' %}
            <li>
                <a
                {% hxmodal 'routines:routine-edit-modal' pk=routine.pk group_id=routine.group.pk %}
                class="dropdown-item" href="#">{% trans "Edit" %}</a>
            </li>
            <li>
                <a
                {% hxmodal 'routines:routine-delete' pk=routine.pk group_id=routine.group.pk %}
                class="dropdown-item text-danger" href="#"> {% trans "Delete" %} </a>
            </li>
        {% endcomponent %}
    </div>
    <div>
        <ul>
            {% for entry in entries %}
                <li>{{entry}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
