{% load widget_tweaks %}
{% load i18n %}

{% trans "New routine group" as title %}

{% component 'modal' title=title hx-select=".modal-body" %}
    {% fill "body" %}
        {% url "routines:group-create" as create_url %}
        {% component 'form' form hx-post=create_url hx-target=".modal-body" hx-swap="outerHTML" id="routine-group-form" / %}
    {% endfill %}
    {% fill "footer" %}
        {% component 'form-controls' form_id="routine-group-form" in_modal="true" / %}
    {% endfill %}
{% endcomponent %}
