<div
    {% if not message %}x-ref="toastTemplate"{% endif %}
    class="toast align-items-center border-0 d-none"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
>
    <div class="d-flex">
        <div {% if not message %}x-ref="toastBody"{% endif %} class="toast-body {{ message.tags }}">
            {{ message.message }}
        </div>
        <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
        ></button>
    </div>
</div>
